
table{
	background-color: rgb(244,244,244);
	border-color: rgb(117,183,38);
	border-style: solid;
	border-width: 3px;
	border-collapse: collapse;
}

body {
	background-color: rgb(204,204,204);
	font-family: "Arial";
}